.offcanvas-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgb(184, 183, 183) 10%, rgba(204, 203, 202, 0.017) 100%);
}
.offcanvas-header{
    height: auto;
    text-align: center;
}
.btn-lg{
    height: 70px;
}