.contactus-main{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.image-contactus{
    size:45px;
    padding:10%;
}
.names{
    width: 100%;
    height: fit-content;
    margin: 0px 20px;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}