@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");

*{
  font-family: "Poppins", sans-serif;
}
*{
  height: 100%;
}
.mainHome{
  height: 100%;
}
.logout-button {
    background-color: #dc3545; /* Bootstrap's danger color, you can change it */
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #c82333; /* Darker shade for hover effect */
  }